@font-face {
   font-family: Manrope;
   src: url('../fonts/Manrope-VariableFont_wght.ttf');
}

// Layout
$layout: (
   mobile: 375px,
   desktop: 600px /* 1440px */,
);

$isDesktop: map-get($layout, desktop);

// Colors
$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);

$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

// Font-size reference: quote-28px
